# Evaluation by investment performance

In [1]:
%load_ext autoreload 
%autoreload 2

In [2]:
import datetime
import pickle
import sys
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from dateutil.relativedelta import relativedelta
from statsmodels.tsa.api import VAR
from statsmodels.tsa.seasonal import STL
from statsmodels.tsa.stattools import adfuller

sys.path.append("../../src")
from ftrends.construction import RBC

## Strategy 1.

In [13]:
# IC
file = Path("../../data/raw/macro/ICSA.csv")
df_ic = pd.read_csv(file, index_col=0)
df_ic.index = pd.to_datetime(df_ic.index)

# SVI
file = Path("../../data/raw/google/weekly/unemployment-office/svi_cat0.pkl")
with file.open(mode="rb") as f:
    dfs = pickle.load(f)
rbc = RBC(dfs)
df_svi = rbc.knit(direction="forward")
df_svi.index = pd.to_datetime(df_svi.index).map(lambda x: x + relativedelta(days=6))

# SP500
dfs = [] # data-frame list

for factor in ["SP500"]:
    dir = Path("../../data/raw/macro")
    _df = pd.read_csv(dir/ f"{factor}.csv")
    _df.set_index("date", inplace=True)
    _df.index = pd.to_datetime(_df.index) # Convert type of index to datetime
    dfs.append(_df)
df_sp = pd.concat(dfs, axis=1).dropna(how='any')

# df = pd.concat([df_ic, df_svi], axis=1) # Concatenate
# df.dropna(how='any', inplace=True) # Drop NaN
# df.rename(columns = dict(zip(df.columns, ["IC", "SVI", "SP500"])), inplace=True) # Rename

# display(df.tail())

In [17]:
df_sp[df_sp.index.weekday == 0]

              SP500
date
2012-10-15  1440.13
2012-10-22  1433.82
2012-11-05  1417.26
2012-11-12  1380.03
2012-11-19  1386.89
...             ...
2022-09-12  4110.41
2022-09-19  3899.89
2022-09-26  3655.04
2022-10-03  3678.43
2022-10-10  3612.39

[473 rows x 1 columns]

In [15]:
df_svi

            unemployment office
date
2004-01-10            15.379000
2004-01-17            13.871255
2004-01-24            18.092941
2004-01-31            19.299137
2004-02-07            12.061961
...                         ...
2022-09-10             5.951570
2022-09-17             6.941553
2022-09-24             6.941553
2022-10-01             6.941553
2022-10-08             6.941553

[979 rows x 1 columns]